.home-center {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.home-calendar {
    flex: 3;
    font-size: 13px;
}

.pending-event-invites {
    flex: 1;
}

@media (orientation: portrait) {
  .home-center {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .home-management {
    margin-top: 15px;
  }
}