.home-center {
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: stretch;
    flex: 1;
}

.home-calendar {
    flex: 3;
    font-size: 13px;
}

.pending-event-invites {
    flex: 1;
}

.create-event-time-wrapper{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}

.create-event-time-wrapper input[type="checkbox"]{
  width: 30px;
  height: 30px;
}

@media (orientation: portrait) {
  .home-center {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .home-management {
    margin-top: 15px;
  }
}