main.login-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.background-logo {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    opacity: 30%;
}

.login-buttons {
    display: flex;
    flex-direction: column;
}

.login-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
  main.login-content {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .background-logo {
    width: 125vw;
}

  .login-logo {
    flex: 4;
  }

  .login-interface {
    flex: 3;
  }
}