body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.calendar {
    flex: 3;
}

.pending-invites {
    flex: 1;
}

@media (orientation: portrait) {
  .center {
    flex-direction: column;
    justify-content: space-evenly;
  }
}