body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

footer {
  position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100vw;
}

.background-logo {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    opacity: 30%;
}


.login-buttons {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .background-logo {
    width: 125vw;
}

  header {
    flex: 4;
  }

  main {
    flex: 3;
  }
}