body {
    min-height: 100vh;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.day-label {
    padding-top: 3px;
    font-size: 75%;
    text-align: center;
    justify-content: center;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.day {
    height: 80px;
    padding: 3px;
    border: 1px solid #ccc;
}

.day-top {
    border-top: 0;
}

.day-bottom {
    border-bottom: 0;
}

.day-right {
    border-right: 0;
}

.day-left {
    border-left: 0;
}

